<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>Icon.png</string>
		<key>label</key>
		<string>ColoredKnob</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.blackcrafter.ColoredKnob</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>postNotification</key>
			<string>com.blackcrafter.ColoredKnob/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Knob Color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.blackcrafter.ColoredKnob.settingschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.blackcrafter.ColoredKnob</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>color</string>
			<key>label</key>
			<string>Colors</string>
			<key>shortTitles</key>
			<array>
				<string>Green</string>
				<string>Gray</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Pink</string>
				<string>Violet</string>
				<string>Black</string>
				<string>Light Blue</string>
				<string>Lock</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Green</string>
				<string>Gray</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Pink</string>
				<string>Violet</string>
				<string>Black</string>
				<string>Light Blue</string>
				<string>Lock</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<string>6</string>
				<string>7</string>
				<string>9</string>
				<integer>8</integer>
			</array>
		</dict>
		<dict>
			<key>alternateColors</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.blackcrafter.ColoredKnob</string>
			<key>key</key>
			<string>LongSlider</string>
			<key>label</key>
			<string>Long Slider</string>
			<key>postNotification</key>
			<string>com.blackcrafter.ColoredKnob/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Partners</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.blackcrafter.ColoredKnob</string>
			<key>key</key>
			<string>partner</string>
			<key>label</key>
			<string>Partner Slider</string>
			<key>postNotification</key>
			<string>com.blackcrafter.ColoredKnob/ReloadPrefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.blackcrafter.ColoredKnob.settingschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.blackcrafter.ColoredKnob</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>ps</string>
			<key>label</key>
			<string>Partener</string>
			<key>shortTitles</key>
			<array>
				<string>iSpazio</string>
				<string>iSpazio Black</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>iSpazio</string>
				<string>iSpazio Black</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Follow me on Twitter: @_Blackcrafter</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ColoredKnob © 2012 c0d3.</string>
		</dict>
	</array>
	<key>title</key>
	<string>ColoredKnob</string>
</dict>
</plist>
